.borderbottom {
		display: none;
	}

	.row {
		/* mobile first, no styles needed */
	}
	.column1_half {
		/*max-width: 50%;*/
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		display: block;
/*		border: 1px solid green;
*/		margin: 20px 0px;
	}

	.column2_half {
		/*max-width: 50%;*/
/*		height: 300px;
*/		float: left;
		overflow: hidden;
		position: relative;
		display: block;
/*		border: 1px solid red;
*/		margin: 20px 0px;

	}

	.resume_column1_half, .resume_column2_half {
		/*max-width: 50%;*/
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		display: block;
/*		border: 1px solid green;
*/		margin: 20px 10px;
	}

	@include breakpoint(medium){
		.row {
			margin: 0 auto;
/*			border: 1px solid blue;
*/			overflow: auto;
			max-width: 960px;
			/*max-width: 90%;*/
		}

		.column1_half,
		.column2_half {
			max-width: 49%; /* content controls, with a MAX of 49%*/
			/*width: 49%;*/ /* always 49% regardless of content */
/*			border: 1px solid red;
*/		}

		.resume_column2_half {
			width: 60%; /* content controls, with a MAX of 49%*/
			/*width: 49%;*/ /* always 49% regardless of content */
/*			border: 1px solid red;
*/		}
		
		.resume_column1_half {
			width: 34%; /* content controls, with a MAX of 49%*/
			/*width: 49%;*/ /* always 49% regardless of content */
/*			border: 1px solid red;
*/		}
	}


	.contact1{
		max-width: 450px;
		height: auto;
		float: left;
		overflow: hidden;
		display: block;
		margin-bottom: 50px;
		margin-right: 15px;
		margin-left: 15px;

	}

	.contact2{
		max-width: 450px;
		height: auto;
		float: left;
		overflow: hidden;
		display: block;
		position: relative;
		background: #e2e3e4;
/*		margin: 10px 0px 10px 0px;
*/	    padding: 100px 100px 150px;
	    background-position: cover;

	}



	.name, .orgName, .email, .phone,.messageSection{
		padding-top: 20px !important;
		margin: none;	
	}

	.column1, .column2, .column3 {
		max-width: 33.333%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		display: block;
	}

