
	h1 {
		font-family: 'Arimo';
		font-size: 32px;
		line-height: 36px;
	}

	h1.about1 {
		color: #000000;
		font-family: 'Arimo';
		font-size: 36px;
		line-height: 40px;
		font-weight: 400;
		margin: 18px 0px 15px 0px;
	}

	h1.abouthome1 {
		font-family: 'Arimo';
		font-size: 40px;
		line-height: 30px;
		font-weight: 400;
		color: #ffffff;
		padding: 80px 0px 0px 50px;
	}


	h2 {
		font-family: 'Arimo';
		font-size: 30px;
		line-height: 34px;
		color:#6CAC44;
	}

	h2.resumeheader {
		font-family: 'Arimo';
		font-size: 20px;
		line-height: 34px;
		color: #6CAC44;
/*		border-bottom: 2px dotted #6CAC44;
*/
	}

	h3.maintitle {
		font-family: 'Arimo';
		font-weight: 700;
		font-size: 26px;
		line-height: 30px;
		color: #000000;
		margin: 60px 0px 10px 0px;
	}

	h3 {
		font-family: 'Arimo';
		font-size: 26px;
		line-height: 30px;
		color: #e6e7e8;
	}

	h4.bodytitle {
		font-family: 'Arimo';
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		color: #000000;
		margin: 30px 0px -5px 0px;
	}

	h4.jobtitle {
		font-family: 'Arimo';
		font-weight: 700;
		border-bottom: 2px dotted #6CAC44;
		font-size: 16px;
		line-height: 20px;
		color: #6CAC44;
		margin: 30px 0px 5px 0px;

	}

	a.company{
		font-family: 'Arimo' !important;
		font-weight: 700 !important;
		font-size: 16px;
		line-height: 20px;
		color: black !important;
		margin: 30px 0px -5px 0px;
	}

	h4.abouthome2 {
		font-family: 'Arimo';
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		color: #ffffff;
		width: 65%;
		padding: 0px 50px 0px 50px;
	}

	h4.abouttitle {
		color: #000000;
		font-family: 'Arimo';
		font-size: 20px;
		line-height: 20px;
	}

	p {
		color: #000000;
		font-family: 'Arimo';
		font-size: 16px;
		line-height: 24px;

	}

	/*p.projects {
		color: #000000;
		font-family: 'Arimo';
		font-size: 14px;
		line-height: 24px;

	}*/

	.illustraion_img{
		 display: block;
		 margin: 0 auto;
		 padding-top: 10px;

	}

	p.email {
		color: #a7a9ab;
		font-family: 'Arimo';
		font-size: 16px;
		line-height: 24px;
		margin: -20px 0px 0px 0px;
	}

	p.email a {
		color:  #6CAC44;
		font-family: 'Arimo';
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
	}

	p.aboutparagraph {
		font-family: 'Arimo';
		line-height: 26px;
		color: #000000;
	}

	h2.amtraktext.hide, h2.cpa_careertext.hide, h2.oxo_packagingtext.hide, h2.journaltext.hide, 
	h2.pma_signagetext.hide, h2.dyson_windowtext.hide, h2.pawstext.hide, h2.pma_bustext.hide {
		display: none!important;
	}


	.pma_signagetext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 22%; 
	    left: 49%;
	    top: 0%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.amtraktext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 22%; 
	    left: 49%;
	    top: 0%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.dyson_windowtext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 65%; 
	    left: 50%;
	    top: 0;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.cpa_careertext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 65%; 
	    left: 50%;
	    top: 0;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.pawstext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 20%; 
	    left: 49%;
	    top: 50%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.oxo_packagingtext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 22%; 
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}


	.pma_bustext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 69%; 
	    left: 49%;
	    top: 50%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.journaltext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 172%; 
	    left: 50%;
	    top: 0;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}


	/*
	.pagenavigaton{
		clear: left;
		clear: right;
	}

	.previousnext {
		float: right;
		margin: 5px 60px 35px 0px;
	}

	.back {
		float: left;
		margin: 5px 0px 35px 60px;
	}*/
	.FormHeader{
		font-size: 20px;
		font-family: 'Arimo';
		color: #6CAC44;
		margin-left: 0px;

	}

	.footer {
		clear: left;
		height: 100px;
		background-color: #e2e3e4;
/*		position: absolute;
*/		/*bottom: 0;*/
	}

	input{
		margin-bottom: 2px;
		border: 2px solid #6CAC44;

		box-sizing: border-box;
	}

	/*p.previousnexttext {
		font-size: 16px;
		font-family: 'Arimo';
		color: #6CAC44;
		text-decoration: none;
	}*/


	p a {
		font-size: 16px;
		font-family: 'Arimo';
		color:  #6CAC44;
		text-decoration: none;
	}