
	h1 {
		font-family: 'Arimo';
		font-size: 32px;
		line-height: 36px;
	}

	h1.about1 {
		color: #000000;
		font-family: 'Arimo';
		font-size: 36px;
		line-height: 40px;
		font-weight: 400;
		margin: 18px 0px 15px 0px;
	}

	h1.abouthome1 {
		font-family: 'Arimo';
		font-size: 40px;
		line-height: 30px;
		font-weight: 400;
		color: #ffffff;
		padding: 80px 0px 0px 50px;
	}


	h2 {
		font-family: 'Arimo';
		font-size: 30px;
		line-height: 34px;
		color: #000000;
	}

	h3.maintitle {
		font-family: 'Arimo';
		font-weight: 700;
		font-size: 26px;
		line-height: 30px;
		color: #000000;
		margin: 60px 0px 10px 0px;
	}

	h3 {
		font-family: 'Arimo';
		font-size: 26px;
		line-height: 30px;
		color: #e6e7e8;
	}

	h4.bodytitle {
		font-family: 'Arimo';
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		color: #000000;
		margin: 30px 0px -5px 0px;
	}

	h4.abouthome2 {
		font-family: 'Arimo';
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		color: #ffffff;
		width: 65%;
		padding: 0px 50px 0px 50px;
	}

	h4.abouttitle {
		color: #000000;
		font-family: 'Arimo';
		font-size: 20px;
		line-height: 20px;
	}

	p {
		color: #000000;
		font-family: 'Arimo';
		font-size: 16px;
		line-height: 24px;

	}

	p.projects {
		color: #000000;
		font-family: 'Arimo';
		font-size: 14px;
		line-height: 24px;

	}


	p.email {
		color: #6CAC44;
		font-family: 'Arimo';
		font-size: 16px;
		line-height: 24px;
		margin: -20px 0px 0px 0px;
	}

	p.email a {
		color: #6CAC44;
		font-family: 'Arimo';
		font-size: 16px;
		line-height: 24px;
	}

	p.aboutparagraph {
		font-family: 'Arimo';
		line-height: 26px;
		color: #000000;
	}

	h2.journaltext.hide, h2.oxo_packagingtext.hide, h2.dyson_windowtext.hide, h2.derm_brochuretext.hide, h2.drwctext.hide, h2.hipcitytext.hide {
		display: none!important;
	}

	h2.journaltext_big.hide_big, h2.dyson_window_big.hide_big, h2.oxo_packagingtext.hide_big, h2.derm_brochuretext_big.hide_big, h2.hipcitytext_big.hide_big {
		display: none!important;
	}

	.journaltext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 40%; 
	    left: 50%;
	    top: 0;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.oxo_packagingtext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 40%; 
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.dyson_windowtext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 40%; 
	    left: 50%;
	    top: 0;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.derm_brochuretext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 38%; 
	    left: 49%;
	    top: 50%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.drwctext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 35%; 
	    left: 50%;
	    top: 0;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.hipcitytext {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 40%; 
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}


	.ic3401text_big {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
		height: 40%; 
	    left: 50%;
	    top: 0;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}


	.drwctext_big {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 35%; 
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.firsthandtext_big {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 40%; 
	    left: 50%;
	    top: 0;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}

	.hipcitytext_big {
		position: absolute;
		overflow: hidden;
		text-align: center;
	    z-index: 9999;
	    height: 40%; 
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, 50%);    
	    -webkit-transform: translate(-50%, 50%);
	    -moz-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	}


	.pagenavigaton{
		clear: left;
		clear: right;
	}

	.previousnext {
		float: right;
		margin: 5px 60px 35px 0px;
	}

	.back {
		float: left;
		margin: 5px 0px 35px 60px;
	}
	.FormHeader{
		font-size: 20px;
		font-family: 'Arimo';
		color: #6CAC44;
		margin-left: 0px;

	}

	.footer {
		clear: left;
		height: 100px;
		background-color: #666666;
/*		position: absolute;
*/		/*bottom: 0;*/
	}

	input{
		margin-bottom: 2px;
		border: 2px solid #6CAC44;

		box-sizing: border-box;
	}

	p.previousnexttext {
		font-size: 16px;
		font-family: 'Arimo';
		color: #808284;
		text-decoration: none;
	}


	p a {
		font-size: 16px;
		font-family: 'Arimo';
		color: #808284;
		text-decoration: none;
	}