	.thumbnails {
		font-size: 0;
	}

	.thumbnails img {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.thumbnails_big {
		font-size: 0;
	}

	.thumbnails_big img {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.abouthero {
		background-color: #9e1e62;
		height: 300px;
		margin: -26px 0px 0px 0px;
	}


	.aboutmeimage {
		font-size: 0;
	}


	.aboutmeimage img {
		width: 100%;
		height: 100%;
		position: relative;
		margin: 45px 0px;
	}


	.aboutmetext {
		position: relative;
		height: auto;
		width: 90%;
		font-family: 'montserratlight';
		padding: 30px 38px;
	}

	.maintext {
		height: auto;
		width: 80%;
		font-family: 'montserratlight';
		font-size: 18px;
		line-height: 26px;
		padding: 15px 45px;
	}

	.mainimages {
		font-size: 0;
	}

	.mainimages img {
		width: 100%;
		height: 100%;
		position: relative;
		padding: 20px 0px;
	}