.header {
		background-color: #ffffff;
		height: 100px;
		position: relative;
		z-index: 5;
		border-bottom: 2px dotted #6CAC44;
	}

	.logo img {
		float: left;
		max-width: 250px;
		height: auto;
		overflow: auto;
		margin: 10px 0px 0px 40px;
		position: absolute;
	}

	nav {
		float: right;
	}

	nav a#pull {
    	display: none;
	}       


	nav ul li a.current{
		color: #6CAC44;
		text-decoration: none;
	}

	nav ul li a:link.current{
		color: black;
		text-decoration: none;
	}

	nav ul li a:hover.current{
		color: #6CAC44;
		text-decoration: none;
		border-bottom: 2px dotted #6CAC44;
		transition:background-color 25s;
	}

	nav ul li a:active.current{
		color: #000000;
		text-decoration: none;
	}

	nav ul li{
		display: inline-block;
		list-style: none;
		font-family: 'Arimo';
		font-size: 18px;
		padding: 15px;
		margin: 30px 30px 18px 0px;
	}


	#nav-button {
		display: none;
	}

	nav ul li a{
		color: black;
		text-decoration: none;
	}

	nav ul li a:link{
		color: black;
		text-decoration: none;
	}

	nav ul li a:hover{
		color: black;
		text-decoration: none;
	}

	nav ul li a:hover:after{
		color: black;
		text-decoration: none;
	}

	nav ul li a:active{
		color: #000000;
		text-decoration: none;
	}



.nav-ham{
	color: black;
	text-decoration: none;
	font-size: 50px;

	&:hover {
		color: #6CAC44;
	}
}

.is-mobile{
	display: block;

	@include breakpoint(medium) {
	display: none;
	}
}
 .clearfix{
	display: none;

	@include breakpoint(medium){
		display: block;

		li{
			float: left;
		}
	}


	li {
		/* all link within .nav-main*/
		border-bottom: 1px soild black;

		
	}
}