.header {
		background-color: #ffffff;
		height: 100px;
		position: relative;
		z-index: 5;
		border-bottom: 2px dotted #6CAC44;
	}

	.logo img {
		float: left;
		max-width: 250px;
		height: auto;
		overflow: auto;
		margin: 10px 0px 0px 40px;
		position: absolute;
	}

	nav {
		float: right;
	}

	nav a#pull {
    	display: none;
	}       


	nav ul li a.current{
		color: #6CAC44;
		text-decoration: none;
	}

	nav ul li a:link.current{
		color: black;
		text-decoration: none;
	}

	nav ul li a:hover.current{
		color: #6CAC44;
		text-decoration: none;
		border-bottom: 2px dotted #6CAC44;
		transition:background-color 25s;
	}

	nav ul li a:active.current{
		color: #000000;
		text-decoration: none;
	}

	nav ul li{
		display: inline-block;
		list-style: none;
		font-family: 'Arimo';
		font-size: 18px;
		padding: 15px;
		margin: 30px 30px 18px 0px;
	}


	#nav-button {
		display: none;
	}

	nav ul li a{
		color: black;
		text-decoration: none;
	}

	nav ul li a:link{
		color: black;
		text-decoration: none;
	}

	nav ul li a:hover{
		color: black;
		text-decoration: none;
	}

	nav ul li a:hover:after{
		color: black;
		text-decoration: none;
	}

	nav ul li a:active{
		color: #000000;
		text-decoration: none;
	}

		/*these are the burger menu icon properties*/
/*	nav label{position: absolute; top: 8px; right: 8px; transition: .4s;}
	nav label:hover{cursor:pointer;}
	nav label:before{
		font-family: FontAwesome;
		font-size: 24px;
		content: &#9776;
		display: inline-block;
	  	-webkit-transform: rotate(90deg);
	  	-moz-transform: rotate(90deg);
	  	-o-transform: rotate(90deg);
	  	-ms-transform: rotate(90deg);
	  	transform: rotate(90deg);
		text-align: center;
	}*/

  