@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.illustration_img {
  display: none;
  margin: 0 auto;
  padding-top: 10px; }
  @media (min-width: 800px) {
    .illustration_img {
      display: block; } }

.illustration_header {
  position: relative; }
  .illustration_header #dog {
    transition: transform 2s; }
  .illustration_header .st0 {
    fill: #6CAC44;
    transition: all 2s; }
  .illustration_header:hover #dog {
    transform: rotate(-35deg); }
  .illustration_header:hover .st0 {
    fill: brown; }

#dog {
  position: absolute;
  max-width: 85px;
  top: 7%;
  right: 16%;
  display: none; }
  @media (min-width: 800px) {
    #dog {
      display: block; } }

	/*	.thumbnails {
		font-size: 0;
	}

	.thumbnails img {
		width: 100%;
		height: 100%;
		position: relative;
	}
*/
.aboutmeimage {
  font-size: 0; }

.aboutmeimage img {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 45px 0px; }

.aboutmetext {
  position: relative;
  height: auto;
  width: 90%;
  padding: 30px 30px; }

.maintext {
  height: auto;
  width: 80%;
  font-family: 'Arimo';
  font-size: 18px;
  line-height: 26px;
  padding: 15px 45px; }

.mainimages {
  font-size: 0; }

.mainimages img {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px 0px; }

.header {
  background-color: #ffffff;
  height: 100px;
  position: relative;
  z-index: 5;
  border-bottom: 2px dotted #6CAC44; }

.logo img {
  float: left;
  max-width: 250px;
  height: auto;
  overflow: auto;
  margin: 10px 0px 0px 40px;
  position: absolute; }

nav {
  display: none;
  float: none;
  clear: both;
  padding-top: 53px; }
  @media (min-width: 600px) {
    nav {
      display: block;
      float: right;
      padding-top: 0; } }

nav a#pull {
  display: none; }

nav ul li a.current {
  color: #6CAC44;
  text-decoration: none; }

nav ul li a:link.current {
  color: black;
  text-decoration: none; }

nav ul li a:hover.current {
  color: #6CAC44;
  text-decoration: none;
  border-bottom: 2px dotted #6CAC44;
  transition: background-color 25s; }

nav ul li a:active.current {
  color: #000000;
  text-decoration: none; }

nav ul li {
  list-style: none;
  font-family: 'Arimo';
  font-size: 30px;
  padding: 15px;
  text-align: center;
  border-bottom: 2px dotted #6CAC44;
  background: white;
  /*clear: both;*/ }
  @media (min-width: 600px) {
    nav ul li {
      display: inline-block;
      list-style: none;
      padding: 15px;
      margin: 30px 30px 18px 0px;
      /*background: white;*/
      border-bottom: none;
      font-size: 18px; } }

nav ul li a {
  color: black;
  text-decoration: none;
  display: block; }

nav ul li a:link {
  color: black;
  text-decoration: none; }

nav ul li a:hover {
  color: black;
  text-decoration: none; }

nav ul li a:hover:after {
  color: black;
  text-decoration: none; }

nav ul li a:active {
  color: #000000;
  text-decoration: none; }

.nav-ham {
  color: black;
  text-decoration: none;
  font-size: 50px; }
  .nav-ham:hover {
    color: #6CAC44; }

.is-mobile {
  display: block;
  float: right; }
  @media (min-width: 600px) {
    .is-mobile {
      display: none; } }

.borderbottom {
  display: none; }

.row {
  /* mobile first, no styles needed */ }

.column1_half {
  /*max-width: 50%;*/
  width: 480px;
  overflow: hidden;
  position: relative;
  display: block;
  /*		border: 1px solid green;
  */
  margin: 20px auto 0 auto; }

.column2_half {
  /*max-width: 50%;*/
  width: 480px;
  overflow: hidden;
  position: relative;
  display: block;
  /*		border: 1px solid red;
  */
  margin: 0px auto; }

.resume_column1_half, .resume_column2_half {
  /*max-width: 50%;*/
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  display: block;
  /*		border: 1px solid green;
  */
  margin: 20px 10px; }

@media (min-width: 800px) {
  .row {
    margin: 0 auto;
    /*			border: 1px solid blue;
    */
    overflow: auto;
    max-width: 960px;
    /*max-width: 90%;*/ }

  .column1_half,
  .column2_half {
    max-width: 49%;
    /* content controls, with a MAX of 49%*/
    /*width: 49%;*/
    /* always 49% regardless of content */
    /*			border: 1px solid red;
    */
    float: left;
    margin: 20px 0; }

  .resume_column2_half {
    width: 60%;
    /* content controls, with a MAX of 49%*/
    /*width: 49%;*/
    /* always 49% regardless of content */
    /*			border: 1px solid red;
    */ }

  .resume_column1_half {
    width: 34%;
    /* content controls, with a MAX of 49%*/
    /*width: 49%;*/
    /* always 49% regardless of content */
    /*			border: 1px solid red;
    */ } }
.contact1 {
  max-width: 450px;
  height: auto;
  float: left;
  overflow: hidden;
  display: block;
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px; }

.contact2 {
  max-width: 450px;
  height: auto;
  float: left;
  overflow: hidden;
  display: block;
  position: relative;
  background: #e2e3e4;
  /*		margin: 10px 0px 10px 0px;
  */
  padding: 100px 100px 150px;
  background-position: cover; }

.name, .orgName, .email, .phone, .messageSection {
  padding-top: 20px !important;
  margin: none; }

.column1, .column2, .column3 {
  max-width: 33.333%;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  display: block; }

h1 {
  font-family: 'Arimo';
  font-size: 32px;
  line-height: 36px; }

h1.about1 {
  color: #000000;
  font-family: 'Arimo';
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 18px 0px 15px 0px; }

h1.abouthome1 {
  font-family: 'Arimo';
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  padding: 80px 0px 0px 50px; }

h2 {
  font-family: 'Arimo';
  font-size: 30px;
  line-height: 34px;
  color: #6CAC44; }

h2.resumeheader {
  font-family: 'Arimo';
  font-size: 20px;
  line-height: 34px;
  color: #6CAC44; }

h3.maintitle {
  font-family: 'Arimo';
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  margin: 60px 0px 10px 0px; }

h3 {
  font-family: 'Arimo';
  font-size: 26px;
  line-height: 30px;
  color: #e6e7e8; }

h4.bodytitle {
  font-family: 'Arimo';
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 30px 0px -5px 0px; }

h4.jobtitle {
  font-family: 'Arimo';
  font-weight: 700;
  border-bottom: 2px dotted #6CAC44;
  font-size: 16px;
  line-height: 20px;
  color: #6CAC44;
  margin: 30px 0px 5px 0px; }

a.company {
  font-family: 'Arimo' !important;
  font-weight: 700 !important;
  font-size: 16px;
  line-height: 20px;
  color: black !important;
  margin: 30px 0px -5px 0px; }

h4.abouthome2 {
  font-family: 'Arimo';
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  width: 65%;
  padding: 0px 50px 0px 50px; }

h4.abouttitle {
  color: #000000;
  font-family: 'Arimo';
  font-size: 20px;
  line-height: 20px; }

p {
  color: #000000;
  font-family: 'Arimo';
  font-size: 16px;
  line-height: 24px; }

p.email {
  color: #a7a9ab;
  font-family: 'Arimo';
  font-size: 16px;
  line-height: 24px;
  margin: -20px 0px 0px 0px; }

p.email a {
  color: #6CAC44;
  font-family: 'Arimo';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; }

p.aboutparagraph {
  font-family: 'Arimo';
  line-height: 26px;
  color: #000000; }

h2.nue-sitetext.hide, h2.pma_signagetext.hide, h2.oxo_packagingtext.hide, h2.journaltext.hide,
h2.lsstext.hide, h2.walltext.hide {
  display: none !important; }

.nue-sitetext {
  position: absolute;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  height: 29%;
  left: 49%;
  top: 0%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%); }

.pma_signagetext {
  position: absolute;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  height: 27%;
  left: 49%;
  top: 0%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%); }

.lsstext {
  position: absolute;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  height: 95%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%); }

.oxo_packagingtext {
  position: absolute;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  height: 95%;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%); }

.walltext {
  position: absolute;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  height: 60%;
  left: 49%;
  top: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%); }

.journaltext {
  position: absolute;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  height: 160%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%); }

.copy {
  overflow: hidden;
  padding-top: 10px;
  z-index: 9999;
  height: 450px;
  left: 49%;
  top: 0%; }

.pagenavigaton {
  clear: left;
  clear: right; }

.previousnext {
  float: right;
  margin: 5px 60px 35px 0px; }

.back {
  float: left;
  margin: 5px 0px 35px 60px; }

.FormHeader {
  font-size: 20px;
  font-family: 'Arimo';
  color: #6CAC44;
  margin-left: 0px; }

.footer {
  clear: left;
  height: 100px;
  background-color: #e2e3e4; }

input {
  margin-bottom: 2px;
  border: 2px solid #6CAC44;
  box-sizing: border-box; }

p.previousnexttext {
  font-size: 16px;
  font-family: 'Arimo';
  color: #6CAC44;
  text-decoration: none; }

p a {
  font-size: 16px;
  font-family: 'Arimo';
  color: #6CAC44;
  text-decoration: none; }

body, .wrapper {
  background-color: #f7f9f9;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.wrapper_about {
  clear: left;
  background-color: #f7f9f9; }

.borderbottom {
  display: none; }

.linebreak {
  border-bottom: 1px solid #a7a9ab; }

ul.projects {
  color: #000000;
  font-family: 'Arimo';
  font-size: 14px;
  line-height: 20px; }

p.backlink a {
  color: #6CAC44;
  font-family: 'Arimo';
  font-size: 16px;
  text-decoration: underline; }

.resumelink {
  clear: left;
  margin: 40px 50px; }

form {
  margin-left: 5%; }

#message {
  height: 100px !important;
  width: 300px; }

.resume {
  margin-left: 40px;
  position: relative;
  width: 150px;
  top: 50%;
  transform: translateY(-50%); }

.resume a {
  font-family: 'Arimo';
  color: #6CAC44;
  text-decoration: none; }

.resumecurrent a {
  font-family: 'Arimo'; }

.socialicons {
  float: right;
  position: relative;
  width: 200px;
  top: 50%;
  transform: translateY(-75%); }

.socialicons ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 5px; }

/*# sourceMappingURL=main.css.map */
